/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}

.main-wrapper {
  padding: 0 5.2%;
  margin: 0 auto;
  width: 144rem;
}
.main-wrapper a {
  text-decoration: none;
  color: #000000;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
  font-size: 1.6rem;
}
.navigation__left {
  display: flex;
  align-items: center;
  gap: 7rem;
}
.navigation a:not(.navigation__logo) {
  position: relative;
  line-height: 2.25rem;
  font-weight: 500;
}
.navigation a:not(.navigation__logo):hover::after {
  content: "";
  width: 75%;
  border-bottom: 3px solid #B00000;
  border-radius: 10px;
  position: absolute;
  bottom: -5px;
  left: 12.5%;
  right: 12.5%;
}
.navigation__list {
  display: flex;
  gap: 3rem;
}
.navigation__right {
  display: flex;
  gap: 3rem;
}
.navigation__right a:last-child {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding-left: 3rem;
  border-left: 1px solid #808080;
}
.navigation__right a:last-child::after {
  display: none;
}

.main-banner {
  display: flex;
  justify-content: space-between;
  margin-top: 7.9rem;
}
.main-banner h2 {
  font-family: "poppins";
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 7.8rem;
  color: #2E2E2E;
  width: 60rem;
}
.main-banner p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.8rem;
  font-family: "inter";
  color: #808080;
  margin: 3.4rem 0;
  width: 44.8rem;
}
.main-banner__btn1, .main-banner .redbutton {
  margin-right: 2rem;
  width: 160px;
  height: 4.8rem;
  left: 12.2rem;
  background-color: #FFFFFF;
  color: #000000;
  border-radius: 0.8rem;
  border: none;
  font-family: "poppins";
  border: 0.1rem solid #000000;
}
.main-banner .redbutton {
  background: #B00000;
  box-shadow: 0px 0px 64px rgba(176, 0, 0, 0.3);
  color: #FFFFFF;
}
.main-banner__img-wrapper {
  position: relative;
}
.main-banner__img-wrapper__tr1, .main-banner__img-wrapper__tr2, .main-banner__img-wrapper__tr3 {
  position: absolute;
  width: 0;
  height: 0;
  border-width: 4rem 0 0 4rem;
  border-color: transparent transparent transparent #B00000;
  border-style: solid;
  bottom: 32%;
  right: 97%;
}
.main-banner__img-wrapper__tr2, .main-banner__img-wrapper__tr3 {
  border-width: 0 0 4rem 4rem;
  top: 12.5%;
  left: 97%;
  border-color: transparent transparent #B00000 transparent;
}
.main-banner__img-wrapper__tr3 {
  transform: scale(1.8);
  top: 77.5%;
  left: 93%;
}

/*# sourceMappingURL=index.css.map */
